[Unit]
Description=CArtei database backup
After=cartei-db.service
Requires=cartei-db.service

[Service]
Type=oneshot
EnvironmentFile=/tank/cartei/.env
WorkingDirectory=/tank/cartei
ExecStart=/tank/cartei/backup.sh
