[Unit]
Description=Update CArtei database image
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/srv/containers/www/home/cartei
ExecStart=/usr/bin/podman compose -f docker-compose.db.yaml pull
ExecStart=/usr/bin/systemctl restart cartei-db.service
