[Unit]
Description=Update CArtei images
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/tank/cartei
ExecStart=/usr/bin/podman compose pull
ExecStart=/usr/bin/systemctl restart cartei.service
