[Unit]
Description=CArtei tenant management system
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/srv/containers/www/home/cartei
ExecStart=/usr/bin/podman compose up -d
ExecStop=/usr/bin/podman compose down
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
