[Unit]
Description=CArtei database backup
After=cartei-db.service
Requires=cartei-db.service

[Service]
Type=oneshot
EnvironmentFile=/var/lib/cartei/.env
WorkingDirectory=/var/lib/cartei
ExecStart=/var/lib/cartei/backup.sh
